# basic need
pandas
numpy

# simple visualization
matplotlib
seaborn

# jupyter notebook
ipykernel

# machine learning
scikit-learn

# formatting
black
black[jupyter]

# huggingface libraries
huggingface_hub
hf_xet
transformers

# deep learning
torch

# to read .env
python-dotenv

# dataset
datasets

# create ASTs
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
